@import "tailwindcss";

:root {
	--padding: 32px;

	--foreground-color: #eee;
	--foreground-muted: #888;

	--background-color: #222;
	--background-muted: #444;

	--primary-color: rgba(180, 19, 19, 1);
	--primary-muted: rgba(110, 12, 12, 1);

	-blur-sm: 8px;
}

@media (max-width: 639px) {
	:root {
		--padding: 16px; /* Smaller padding for phones */
	}
}

.border-element {
	z-index: 40;
	/* --tw-backdrop-blur: blur(var(--blur-sm, 8px));
	-webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
		var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
		var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
		var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
		var(--tw-backdrop-sepia);
	backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
		var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
		var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
		var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
		var(--tw-backdrop-sepia); */
	background-color: #0000;
	background-image: radial-gradient(#0000 1px, #10100e 1px);
	background-size: 4px 4px;
}

* {
	--scroll-behavior: smooth !important;
	scroll-behavior: smooth !important;
}

body {
	background-color: var(--background-color);
	color: var(--foreground-color);
}

#welcomePage,
#aboutPage,
#projectsPage,
#contactPage {
	scroll-margin-top: 6rem;
}

/* Scrollbar styling */
::-webkit-scrollbar {
	width: 2px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--foreground-muted);
	border-radius: 4px;
}

::-webkit-scrollbar-track {
	background-color: var(--background-muted);
}
